.loginsignup {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
  }
  
  .loginsignup-container {
    width: 300px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .loginsignup h1 {
    text-align: center;
  }
  
  .loginsignup form {
    display: flex;
    flex-direction: column;
  }
  
  .loginsignup input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .loginsignup input:focus {
    outline: none;
    border-color: #007bff;
  }
  
  .loginsignup button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .loginsignup button:hover {
    background-color: #0056b3;
  }
  
  .loginsignup-login {
    text-align: center;
  }
  
  .loginsignup-login span {
    color: #007bff;
    cursor: pointer;
  }
  
  .loginsignup-login span:hover {
    text-decoration: underline;
  }
  
  
  